@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-field {
    @apply mb-[1rem] block h-[4.8rem] w-[25rem] rounded-[1rem] border border-[#60D7EC] bg-white px-[2rem] text-[1.6rem] text-black placeholder:text-[#333333];
  }
}

@layer utilities {
  .text-paste-gradient {
    font-size: 6rem;
    background: -webkit-linear-gradient(#0089a0, #63eed0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .primary-btn-gradient {
    background: linear-gradient(#60d6ec, #63eecf);
  }
  .all-exchanges li:not(:last-child) {
    margin-bottom: 1rem;
  }
  /* .all-exchanges li:not(:last-child),
  .all-wallets li:not(:last-child) {
    margin-bottom: 1rem;
  } */
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: 'poppins', Inter, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}
/*
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
} */
